name: my-project

services:
    s3:
        container_name: "my-project-s3"
        image: minio/minio:RELEASE.2025-04-22T22-12-26Z
        volumes:
            - ./storage/s3:/data
        ports:
            - "9000:9000"
            - "9998:9998"
        environment:
            - "MINIO_ROOT_USER=user"
            - "MINIO_ROOT_PASSWORD=password"
        command: "server /data --console-address :9998"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "--fail", "http://localhost:9000/minio/health/live"]
            start_period: 3s
            timeout: 2s
            retries: 50
        labels:
            - dev.orbstack.http-port=9000 # this gives you https://s3.my-project.orb.local/bucket to surf to

networks:
    default:
