name: my-project

services:
    database:
        container_name: "my-project-database"
        image: mysql:8.0.35
        volumes:
            - database-data:/var/lib/mysql
            - ./docker/database/init:/docker-entrypoint-initdb.d
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=app # update .env and .env.example if you change any of these values
            - MYSQL_USER=app
            - MYSQL_PASSWORD=app
        command:
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_unicode_ci"
            - "--default-authentication-plugin=mysql_native_password"
        restart: unless-stopped
        healthcheck:
            test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
            start_period: 3s
            timeout: 2s
            retries: 50

volumes:
    database-data:

networks:
    default:
