includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    tmpDir: .phpstan.cache

    paths:
        - app
        - tests

    level: 5

    # Larastan configuration
    checkModelProperties: true
